@media (min-width: 1200px){.container{max-width: 1216px;}}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

button, input {
  outline: none!important;  
}

a:hover {
  text-decoration: none!important;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  object-fit: cover;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 1200px){.container{max-width: 1216px;}}


.displayflex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.topheader-background {
	
}

.advantages-block {
  display: grid;
  grid-template:repeat(2,auto)/repeat(1,1fr);
  row-gap: 60px;
}

.about-advantages {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 32px;
  color: #1C2A35;
}

.advantages-items {
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
  gap: 30px;
}

.advantages-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1C2A35;
  margin-right: 20px;
}

.advantages-text {
  grid-column: span 2;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4E4E4E;
  margin-right: 50px;
}

.advantages-item {
  display: grid;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 40px 30px 10px 20px;
  grid-template: 1fr 1fr / 1fr 1fr;
  justify-items: center;
  align-items: center;
}


.advantages-item-1 {
  border-radius: 100px 10px 10px 10px;
}

.advantages-item-3 {
  border-radius: 10px 100px 10px 10px;
}

.advantages-item-7 {
  border-radius: 10px 10px 10px 100px;
}

.advantages-item-9 {
  border-radius: 10px 10px 100px 10px;
}

.advantages-arrow-1, .advantages-arrow-2 {
  position: relative;
}
.advantages-arrow-1:after {
  position: absolute;
  content: "";
  left: 90%;
  top: 50%;
  width: 100%;
  height: 100%;
  background-image: url(images/main/arrow1.svg);
  background-repeat: no-repeat;
  animation: blick 2s linear infinite ;
}


.advantages-arrow-2:after {
  position: absolute;
  content: "";
  left: 90%;
  top: -35%;
  width: 100%;
  height: 100%;
  background-image: url(images/main/arrow1.svg);
  transform: matrix(1, 0, 0, -1, 0, 0);
  background-repeat: no-repeat;
  animation: blick-reverse 2s linear infinite ;
}


@keyframes blick{0%{opacity: 0;} 50%{opacity: 1;} 100%{opacity: 0;}}
@keyframes blick-reverse{0%{opacity: 1;} 50%{opacity: 0;} 100%{opacity: 1;}}