/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

button, input {
  outline: none!important;  
}

a:hover {
  text-decoration: none!important;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  object-fit: cover;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 1200px){.container{max-width: 1216px;}}


.head-up {
  background: #E9E9E9;
  padding: 7px;
}

.head-down {
  margin-top: 5px;
}

.up-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.blockflex {
  display: flex;
  align-items: center;
}

.toggle-modal {
  margin-left: 10px;
}

.toggle-modal button {
  border: 2px solid #6a6a6a;
  font-family: 'Roboto', sans-serif;
  border-radius: 600px;
  text-transform: uppercase;
  font-weight: 700;
  background: #e9e9e9;
  letter-spacing: 0.02em;
  color: #1c2a35;
  transition: 0.5s;
  padding: 5px 25px;
}

.toggle-modal button:hover {
  letter-spacing: 0.2em;
}
.social a img{
  transition: .5s;
}
.social a:hover img {
  transform: rotate(360deg);
}

.headnum a:hover {
  color: #2B8EDD; 
}

.headnum span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1C2A35;
}

.headnum a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #1C2A35; 
}

.logotype {
  display: flex;
  align-items: center;
}

.kvant {
  margin-left: 10px;
}

.mainmenu {
  width: 80%;
}

.navmenu {
  display: flex;
  justify-content: space-between;
}

.navmenu li a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #1C2A35;
  text-decoration: none;
  position: relative;
}

.navmenu li a:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0%;
  height: 1px;
  background: #1C2A35;
  transition: .5s;
}

.navmenu li a:hover:before {
  width: 100%;
}

.backimg  > img {
  position: absolute;
  width: 100%;
  height: calc(100vh - 250px);
  object-fit: fill;
}

.main1-block {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 7px;
}

.main1-left {
  width: 44%
}

.main1-right {
  width: 50%;
}

.main1-right img {
  margin-top: 50px;
}

.navtext {
  margin-top: 70px;
  display: flex;
  align-items: center;
}

.navtext p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin: 0;
}

.default-english {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  margin-top: 85px;
}

.navtext-main {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 20px;
  opacity: 0.8;
}

.default-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 32px;
}

.trial-lesson {
  margin-top: 30px;
}

.trial-lesson-button {
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 60px;
  background: #277AD9;
  padding: 10px 20px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  position: relative;
}

.trial-lesson-button:after {
    position: absolute;
    content: '';
    z-index: 100;
    width: 30px;
    height: 5px;
    background-color: #3F73D4;
    top: -3%;
    left: 7%;
    transform: translateY(-50%);
    transition: 0.5s;
}


.trial-lesson-button:hover::after {
  left: 85%;
}

button.trial-lesson-button:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 5px;
    background: #3F73D4;
    top: 100%;
    left: 85%;
    transition: .5s;
}

button.trial-lesson-button:hover::before {
    left: 7%;
}

.main2-block {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.main2-right {
  width: 55%;
  margin-top: 10px;
}


.main2-img {
  position: relative;
  overflow: hidden;
  border-radius: 30px;

}

.main2-item-2 {
  margin-top: 12px;
}

.main2-item-3 {
  margin-top: 25px;
}

.main2-img:before {
    position: absolute;
    content: '';
    background-image: url(images/program/backsvgimg.svg);
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    transition: 1s;
}

.main2-img:hover::before {
    top: -50%;
}


.main2-head {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: #1C2A35;
}

.main2-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4E4E4E;
}

.download {
  border: 3px solid #FEBC48;
  box-sizing: border-box;
  border-radius: 60px;
  padding: 10px 44px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FEBC48;
  background: #FFFFFF;
  position: relative;
}

.download:after {
    position: absolute;
    content: '';
    z-index: 100;
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    top: -3%;
    left: 7%;
    transform: translateY(-50%);
    transition: 0.5s;
}


.download:hover::after {
  left: 78%;
}

button.download:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 5px;
    background: #FFFFFF;
    top: 100%;
    left: 80%;
    transition: .5s;
}

button.download:hover::before {
    left: 10%;
}

.learning-track{
  position: relative;
  margin-top: 100px; 
}

.section-title{
  margin-bottom: 60px;
  font-family: 'Exo 2', sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-top: 100px;
}
.learning-track > img{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.learning-list{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 180px;
}
.learning-list ul {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-left: 20px;
  padding: 0;
}
.learning-list ul li::marker{
  color: orange;
}
.learning-list h5{
  font-family: 'Exo 2', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
color: white;
margin-bottom: 84px;

}
.learning-list::before{
  position: absolute;
  content: '';
  top: 30%;
  left: 0;
  width: 100%;
  height: 10px;
  border-top:2px dashed rgba(255, 255, 255, 0.4);
}
.list-item{
  position: relative;
}

.list-item::before{
  position: absolute;
  top: 25%;
  left: 0;
  content: '';
  width: 22px;
  height: 22px;
  background-color: #FEBC48;
  border-radius: 50%;

}

.training-levels {
    margin-top: 15%;
}


.training-levels .section-title {
  font-family: 'Exo 2', sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.training-levels-block {
  display: flex;
  justify-content: space-between;
  margin-top:50px;
}

.levels-block-img {
  border-radius: 80px;
  overflow: hidden;
  width: 48%;
}

.levels-form {
  margin-top: 20px;
  width: 48%;
}

.levels-name-title {
  font-family: 'Exo 2', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.input-application {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 19px;
}
.input-block {
  width: 95%;
}

.levels-form-p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 26px;
}

.levels-form-hours {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 26px;
}

.input-application {
  width: 100%;
}

.levels-form-write {
  width: 55%;
  margin-top: 27px;
  background: #FEBC48;
  border-radius: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
}

.training-levels-footer{
  display: flex;
  margin-top: 55px;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.training-levels-footer ul li::marker {
  background: orange;
}

.levels-form-button-hidden {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin-top: 20px;
  width: 55%;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #848484;
  border: 3px solid #848484;
  border-radius: 60px;
  transition: 0.8s;
}

.levels-form-button {
  display: flex;
  flex-direction: column;
}

.trial-lesson-block {
  margin-top: 100px;
}


.backimg2 > img {
  width: 100%;
}

.backimg2 {
    position: relative;
}

.trial {
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: space-between;
}

.trial__item__1{
  width: 45%;
  margin-top:50px;
}
.trial__item__2{
  width: 55%;
}

.application__p__item h1 {
  font-size: 40px;
  line-height: 42px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  color: #FEBC48;
}

.application__p__item span {
  color: #FFFFFF;
}

.application__p__item p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 24px;
}

.application__input__item {
  padding-top: 33px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 80%
}


.postname {
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 10px;
  width: 48%;
}
.postphone {
  outline: none;
  border: none;
  margin-left: 30px;
  background: none;
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 10px;
  width: 48%;
}

.postname::-webkit-input-placeholder {
  color: #FFFFFF;
}
.postphone::-webkit-input-placeholder {
  color: #FFFFFF;
}

.postbutton {
  position: relative;
  margin-top: 40px;
  border-radius: 60px;
  background: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border: 2px solid #FFFFFF;
  padding: 8px 70px;
  color: #FFFFFF;
  outline: none;
}

.postbutton:before {
  position: absolute;
  content: '';
    z-index: 100;
    width: 28px;
    height: 4px;
    background-color: #3F73BB;
    top: 0%;
    left: 12%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.postbutton:after {
  position: absolute;
    content: '';
    z-index: 100;
    width: 28px;
    height: 4px;
    background-color: #3F73BB;
    top: 100%;
    left: 80%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.postbutton:hover::before {
  left: 80%;
}

.postbutton:hover::after {
  left: 12%;
}

.postbutton:active {
  outline: none;
}

.postbutton:hover {
  text-decoration: none;
}


.reviews {
  margin-top: 100px;
}

.reviews-people {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 55px;
  display: flex;
  justify-content: center;
  color: #1C2A35;
}

.window-item {
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}

.window-link {
  width: 32%;
}

.window-link img:hover{
  transform: scale(1.1);
}

.window-link img {
  transition: .5s;
}


.window-text {
  padding: 30px 20px;
}

.window-link {
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
}

.window-link img {
  width: 100%;
}

.fio {
  font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1c2a35;
}

.result-text {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.result-text span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #4E4E4E;
 }

 .pre-inter {
  background: #FEBC48;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
    padding: 0 10px;
    margin-left: 15px;
 }


.accordion {
  background-color: #FFFFFF;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border: 2px solid #FEBC48;
  border-radius: 10px;
}

.active, .accordion:hover {
   background: rgba(254, 125, 72, 0.1);
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
}

.answers__on__questions {
  margin-top: 60px;
}

.level {
  margin-top: 70px;
}

.backimg3 {
  position: relative;
}

.backimg3 > img {
  width: 100%;
}

.level__block {
  position: absolute;
  top: 10%;
  width: 100%;
}

.level__block__item {
  display: flex;
  justify-content: space-between;
}

.rightblock {
  display: flex;
  flex-direction: column;
    margin-left: 50px;
    width: 48%;
}

.item__text {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #FEBC48;
  margin-top: 90px;
}

.rightblock__item__text {
  color: #fff;
}

.item__p {
  margin-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}

.item__buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 36px;
}

.rightblock__button_1 {
  position: relative;
  border: 3px solid #FFFFFF;
  border-radius: 60px;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.rightblock__button_2 {
  position: relative;
  border: 3px solid #FEBC48;
  border-radius: 60px;
  padding: 10px 20px;
  background: #FEBC48;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 15px;
}

.rightblock__button_1:after {
  position: absolute;
  content: '';
    z-index: 100;
    width: 28px;
    height: 6px;
    background-color: #3F73BB;
    top: 0%;
    left: 10%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.rightblock__button_1:before {
  position: absolute;
  content: '';
    z-index: 100;
    width: 28px;
    height: 6px;
    background-color: #3F73BB;
    top: 100%;
    left: 80%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.rightblock__button_1:hover::before {
  left: 10%;
}

.rightblock__button_1:hover::after {
  left: 80%;
}


.rightblock__button_2:hover {
  background: none; color: #febc48; text-decoration: none;
}

.rightblock__button_1:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.footer {
  border-top: 10px solid #FEBC48;;
  background: #333333;;
}

.topfooter {
  display: flex;
  justify-content: space-between;
}


.topfooter-logo {
  width: 20%;
}

.topfooter-study {
  width: 22%;
}

.school-link, .study-link {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.topfooter-aboutschool, .topfooter-study {
    border-right: 1px solid rgba(255, 255, 255, 0.4);;
    font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
}

.topfooter-aboutschool {
  padding-right: 50px
}


.phone {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #FFFFFF;
}

.gmail {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 19px;
}

.logomargin {
  margin-bottom: 15px;
}


.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.4);;
  margin-top: 50px;
}

.school-link, .study-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
}

.school-link a, .study-link a {
  margin-bottom: 15px;
  color: #FFFFFF;
}

.social-link {
  margin-top: 15px;
}

.topfooter {
  margin-top: 30px;
  color: #FFFFFF;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.botfooter-item {
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 20px;
}

.botfooter-item a {
  color: #FFFFFF;
}

.socialhead {
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
}

.logomargin p {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 55px;
  color: #FFFFFF;
}

.logo {
  display: flex;
  align-items: center;
}

footer {
  margin-top: 60px;
}
