.headertop {
  background: #E9E9E9;
  padding: 15px 0;
  font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none!important;
}

.headerwrap {
  display: flex;
  justify-content: space-between;
}
	

.buttons {
  display: flex;
  align-items: center;
}

.headerwrap-1 {
	display: flex;
	justify-content: space-between;
}

.menubuttons {
	margin-top: 8px;
	display: flex;
	align-items: center;
}

.menubuttons img {
	margin: 0;
	padding-right: 10px;
	padding-left: 10px;
}

.menubuttons a {
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 0.5px;
	font-family: 'Roboto', sans-serif;
	color: black;
}

.togglemod {
  margin-left: 20px;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 3px 20px;
  font-weight: 500;
  background-color: #E9E9E9;
  outline: none!important;
}

.number {
	padding-top: 5px;
}

.number p {
  margin: 0;
}

.number a {
	font-weight: 600;
	color: black; 
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	margin-top: 7px;
}

.logo p {
	margin-bottom: 0;
	margin-left: 10px;
}

.backimg > img{
	width: 100%;
}

.backimg{
	position: relative;
}

.maininfo {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 10%;
}

.engl {
	width: 50%;
}

.engl h1 {
	font-size: 51px;
	line-height: 51px;
	font-weight: 500;
	color: white;
	font-family: 'Exo 2', sans-serif;
}

.engl span {
	font-size: 64px;
	line-height: 60px;
	font-weight: 600;
	color: orange;
	font-family: 'Exo 2', sans-serif;
}


.engl p {
	font-size: 20px;
	line-height: 28px;
	font-family: 'Roboto', sans-serif;
	margin-right: 30px;
	margin-top: 10px;
	color: white;
}

.human {
	width: 50%;
	padding: 50px 0px 0px 0px;
}

.hastag {
	width: 50px;
	height: 56px;
	margin: 0px 0px 30px 50px;	
}


.buttonmore {
	position: relative;
	border: 2px solid white;
	border-radius: 60px;
	background: rgba(252,182,48,0.05);
	color: white;
	padding: 10px 55px;
	line-height: 19px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	outline: none!important;
}


.buttonmore:after {
	position: absolute;
	content: '';
    z-index: 100;
    width: 28px;
    height: 4px;
    background-color: #3F73D4;
    top: 0%;
    left: 12%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.buttonmore:before {
	position: absolute;
	content: '';
    z-index: 100;
    width: 28px;
    height: 4px;
    background-color: #3F73D4;
    top: 100%;
    left: 80%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.buttonmore:hover::before {
	left: 12%;
}

.buttonmore:hover::after {
	left: 80%;
}

.buttonmore:hover {
	text-decoration: none;
}

.buttonmore:active {
	outline: none;
}


.productvideo {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	align-items: center;
}

.information {
	margin-left: 50px;
	text-align: justify;
	width: 49%;
}

.videos {
	width: 49%;
}

.logoname {
	display: flex;
	justify-content: flex-start;
}


.logoname h1 {
	font-weight: 700;
	font-family: 'Exo 2', sans-serif;
	line-height: 55px;
	font-size: 46px;
	margin-left: 10px;
}

.information p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	margin-top: 35px;
}


.moreinfo {
	position: relative;
	border: 3px solid #FEBC48;
	border-radius: 60px;
	background: rgba(254, 188, 72, 0.05);
	color: #FEBC48;
	padding: 10px 35px;
	line-height: 19px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
	font-weight: 700;
	outline: none!important;
}

.moreinfo:after {
	position: absolute;
	content: '';
    z-index: 100;
    width: 28px;
    height: 6px;
    background-color: #FFFFFF;
    top: 0%;
    left: 10%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.moreinfo:before {
	position: absolute;
	content: '';
    z-index: 100;
    width: 28px;
    height: 6px;
    background-color: #FFFFFF;
    top: 100%;
    left: 80%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.moreinfo:hover::before {
	left: 10%;
}

.moreinfo:hover::after {
	left: 80%;
}

.moreinfo:hover {
	text-decoration: none;
}

.moreinfo:active {
	outline: none;
}

.approach {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.approach span {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	margin-left: 20px;
	margin-top: 10px;
}

.approach p {
	font-size: 15px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #4E4E4E;
	text-align: left;
	margin-top: 22px;
	text-align: left;
}

.iconheader1 {
	display: flex;
	justify-content: space-between;
}

.individual {
	width: 33%;
}

.materials {
	width: 33%;
}

.speak {
	width: 33%;
}

.arrow1 {
	margin-left: 8px;
	margin-right: 8px;
	opacity: 0;
	transition: 0.2s;
	animation: blick 2s linear infinite;
}

.arrow2 {
	margin-top: 70px;
	margin-left: 8px;
	margin-right: 8px;
	opacity: 0;
	transition: 0.2s;
	animation: blick-reverse 2s linear infinite;
}

.marktext {
	margin-top: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.linehr {
	width: 47px;
	height: 1px;
	margin-top: 10px;
	margin-right: 15px;
	margin-left: 15px;
	background-color: #1C2A35;
}

.program {
	margin-top: 10px;
}

.uptext {
	display: flex;
	justify-content: space-between;
}

.uptext p {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
}

.program h1 {
	font-size: 46px;
	line-height: 55px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
}

.block1 {
	margin-top: 71px;
}

.top {
	display: flex;
	justify-content: space-between;
}

.bot {
	display: flex;
	justify-content: space-between;
	margin-top: -120px;

}
.block__item + .block__item{
	margin-left: 10px;
}

.block__item {
	position: relative;
	width: 50%;
	padding-left: 30px;
}

.slider {
	display: flex;
	justify-content: space-between;
}

.rotateimg {
	display: flex;
	align-items: center;
	position: absolute;
	transform: translate(0, -50%);
	background: rgba(254, 188, 72, 0.9);
	border-radius: 60px;
	top: 50%;
	left: 0;
	width: 360px;
	height: 125px;
	padding-left: 37px;
}

.rotateimg2 {
	display: flex;
	align-items: center;
	position: absolute;
	transform: translate(0, -50%);
	background: rgba(254, 188, 72, 0.9);
	border-radius: 60px;
	top: 70%;
	left: 0;
	width: 360px;
	height: 125px;
	padding-left: 37px;
}



.p__block__item {
	margin-bottom: 0;
	font-size: 30px;
	line-height: 28px;
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	padding-left: 8px;
}

.block1 a{
	text-decoration: none;
	color: #1C2A35;
}

.block__item img {
	width: 100%;
}

.rotateimg img {
	width: 90px;
	transition: 0.5s;
}

.rotateimg2 img {
	width: 90px;
	transition: 0.5s;
}

.rotateimg img:hover {
	transform: rotate(360deg); 
	transform-origin: center;
}

.rotateimg2 img:hover {
	transform: rotate(360deg); 
	transform-origin: center;
}

.why {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 86px;
}

.why__block {
	display: flex;
	flex-direction: column;
	width: 32%;
	border: 1px solid #fff;
	align-items: center;
	border-radius: 10px;
	padding: 28px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
	min-height: 250px;
}


.why__block p {
	font-size: 20px;
	line-height: 28px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 500px;
	text-align: center;
	padding-top: 20px;
}


.why__block:nth-child(1) {
	border-top-left-radius: 100px;
}

.why__block:nth-child(3) {
	border-top-right-radius: 100px;
}

.why__block:nth-child(4) {
	border-bottom-left-radius: 100px;
}

.why__block:nth-child(6) {
	border-bottom-right-radius: 100px;
}

.backimg2 {
	margin-top: 133px;
	position: relative;
}

.backimg2 > img {
	width: 100%;
}


.trial {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 20%;
}

.trial__item__2 {
	width: 49%;
	margin-top: -80px;
}

.trial__item__1 {
	width: 49%;
}

.application__p__item h1 {
	font-size: 40px;
	line-height: 42px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	color: #FEBC48;
}

.application__p__item span {
	color: #FFFFFF;
}

.application__p__item p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: #FFFFFF;
	margin-top: 24px;
}

.application__input__item {
	padding-top: 33px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	width: 80%
}


.postname {
	outline: none;
	border: none;
	background: none;
	border-bottom: 2px solid #FFFFFF;
	padding-bottom: 10px;
	width: 48%;
}
.postphone {
	outline: none;
	border: none;
	margin-left: 30px;
	background: none;
	border-bottom: 2px solid #FFFFFF;
	padding-bottom: 10px;
	width: 48%;
}

.postname::-webkit-input-placeholder {
	color: #FFFFFF;
}
.postphone::-webkit-input-placeholder {
	color: #FFFFFF;
}

.postbutton {
	position: relative;
	margin-top: 40px;
	border-radius: 60px;
	background: none;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	border: 2px solid #FFFFFF;
	padding: 8px 70px;
	color: #FFFFFF;
	outline: none;
}

.postbutton:before {
	position: absolute;
	content: '';
    z-index: 100;
    width: 28px;
    height: 4px;
    background-color: #3F73BB;
    top: 0%;
    left: 12%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.postbutton:after {
	position: absolute;
    content: '';
    z-index: 100;
    width: 28px;
    height: 4px;
    background-color: #3F73BB;
    top: 100%;
    left: 80%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.postbutton:hover::before {
	left: 80%;
}

.postbutton:hover::after {
	left: 12%;
}

.postbutton:active {
	outline: none;
}

.postbutton:hover {
	text-decoration: none;
}

.stock {
	display: flex;
	justify-content: center;
	margin-top: 70px;
}

.stock h1 {
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	font-size: 46px;
	line-height: 55px;
}

.stonks__block {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	transition: 5s;
}

.stonks__block img{
	width: 100%;
	transition: .5s;
}

.stonks__block__item {
	position: relative;
	width: 32%;
	transition: .5s;
}

.stonks__info {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	pointer-events: none;
	transition: .5s;
}

.stonks__block__item:nth-child(1) img{
	border-radius: 150px 0px 0px 150px;
}

.stonks__block__item:nth-child(3) img{
	border-radius: 0px 150px 150px 0px;
}

.stonks__info h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 74px;
	line-height: 90px;
	font-weight: 600;
	color: #FEBC48;
}

.stonks__info p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #FFFFFF;
	margin-bottom: 5px;
}

.stonks__block img:hover{
	border-radius: 100px;
}

.check_price {
	display: flex;
	justify-content: center;
}

.price {
	position: relative;
	border: 3px solid #FEBC48;
	border-radius: 60px;
	padding: 10px;
	margin-top: 46px;
	outline: none;
}

.price p {
	margin: 0;
	padding: 0 40px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	line-height: 18px;
	color: #FEBC48;
}

.price:hover {
	text-decoration: none;
}

.price:after {
	position: absolute;
	content: '';
    z-index: 100;
    width: 28px;
    height: 6px;
    background-color: #FFFFFF;
    top: 0%;
    left: 10%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.price:before {
	position: absolute;
	content: '';
    z-index: 100;
    width: 28px;
    height: 6px;
    background-color: #FFFFFF;
    top: 100%;
    left: 80%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.price:hover::before {
	left: 10%;
}

.price:hover::after {
	left: 80%;
}


.middle-title {
	text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #1c2e25;
    margin-top: 100px;
}


.how {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.how__item {
	width: 14%;
	position: relative;
}


.numitem {
	display: flex;
	justify-content: center;
}

.numitem:after {
	content: '';
 	width: 22px;
 	height: 22px;
  	border-radius:60px;
  	border: 2px solid #FEBC48;
	padding: 11px;
	margin-left: -17px;
}

.how__item p {
	margin-top: 5px;
}


.hrline:before {
	content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    background: #FEBC48;
   	top: 51%;
    z-index: -1;
}

.hrline {
	position: relative;
}

.numitem {
	width: 40px;
	background-color: #fff;
	padding-left: 10px;
	margin-top: 20px;
	margin-left: 20px;
	color: #FEBC48 ;
	font-weight: bold;	
}

.how__item p {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	margin-top: 20px;
}

.level {
	margin-top: 150px;
}

.backimg3 {
	position: relative;
}

.backimg3 > img {
	width: 100%;
}

.level__block {
	position: absolute;
	top: 10%;
	width: 100%;
}

.level__block__item {
	display: flex;
	justify-content: space-between;
}

.rightblock {
	display: flex;
	flex-direction: column;
    margin-left: 50px;
}

.item__text {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 42px;
	color: #FEBC48;
	margin-top: 90px;
}

.rightblock__item__text {
	color: #fff;
}

.item__p {
	margin-top: 25px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
	color: #FFFFFF;
}

.item__buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 36px;
}

.rightblock__button_1 {
	position: relative;
	border: 3px solid #FFFFFF;
	border-radius: 60px;
	padding: 10px 20px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	text-transform: uppercase;
}

.rightblock__button_2 {
	position: relative;
	border: 3px solid #FEBC48;
	border-radius: 60px;
	padding: 10px 20px;
	background: #FEBC48;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	text-transform: uppercase;
}

.rightblock__button_1:after {
	position: absolute;
	content: '';
    z-index: 100;
    width: 28px;
    height: 6px;
    background-color: #3F73BB;
    top: 0%;
    left: 10%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.rightblock__button_1:before {
	position: absolute;
	content: '';
    z-index: 100;
    width: 28px;
    height: 6px;
    background-color: #3F73BB;
    top: 100%;
    left: 80%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.rightblock__button_1:hover::before {
	left: 10%;
}

.rightblock__button_1:hover::after {
	left: 80%;
}


.rightblock__button_2:hover {
	background: none; color: #febc48; text-decoration: none;
}

.rightblock__button_1:hover {
	text-decoration: none;
	color: #FFFFFF;
}

#slider .slick-prev.slick-arrow:before {
	content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: 44px;
    height: 44px;
    background: url(images/main/arrow-prev.svg) no-repeat;
    opacity: 1;
}

#slider .slick-next.slick-arrow:before {
	content: "";
    position: absolute;
    top: 0;
    left: -25px;
    width: 44px;
    height: 44px;
    background: url(images/main/arrow-next.svg) no-repeat;
    opacity: 1;
}


#slider .slick-prev {
	z-index: 9
}

#slider .slick-next {
	z-index: 9
}

.slider {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.photo-title {
	margin-top: 50px;
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 46px;
	line-height: 55px;
	display: flex;
	justify-content: center;
}

.reviews {
	margin-top: 150px;
}

.reviews-people {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 46px;
	line-height: 55px;
	display: flex;
	justify-content: center;
	color: #1C2A35;
}

.window-item {
	display: flex;
	justify-content: space-between;
	margin-top: 67px;
}

.window-link {
	width: 32%;
}

.window-link img:hover{
	transform: scale(1.1);
}

.window-link img {
	transition: .5s;
}

.item-1 {
	display: flex;
	justify-content: space-between;
}

.item-2 {
	display: flex;
	justify-content: space-between;
}

.item-3 {
	display: flex;
	justify-content: space-between;
}


.item-img-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item-img-1, .item-img-2, .item-img-3 {
	width: 32%;
	overflow: hidden;
	border-radius: 20px;
}

.item-img-2 img {
	width: 100%;
}

.photo-item {
	overflow: hidden;
}

.item-img-1 img{
	transition: 0.5s;
}

.item-img-1:hover img{
	transform: scale(1.1);
}
.img-2-top img{
	transition: 0.5s;
}

.img-2-top:hover img{
	transform: scale(1.1);
}
.img-2-bot img{
	transition: 0.5s;
}

.img-2-bot:hover img{
 	transform: scale(1.1);
}

.item-img-3 img{
	transition: 0.5s;
}

.item-img-3:hover img{
	transform: scale(1.1);
}

.slider {
	margin-top: 75px;
}


.window-text {
	padding: 30px 20px;
}

.window-link {
	overflow: hidden;
	border-radius: 40px;
	box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
}

.window-link img {
	width: 100%;
}

.fio {
	font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1c2a35;
}

.result-text {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.result-text span {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	color: #4E4E4E;
 }

 .pre-inter {
 	background: #FEBC48;
 	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
    padding: 0 10px;
    margin-left: 15px;
 }

.inst {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}


.news-img {
	display: flex;
	justify-content: space-between;
	margin-top: 57px;
}

.news-img {
	width: 100%;
	object-fit: cover;
}

.news-text {
	margin-top: 40px;
	font-family: 'Roboto',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #4E4E4E;	
}

.news-item {
	position: relative;
	width: 24%;
}

.news-item img {
	width: 100%;
}

.news-item:first-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 33%;
    background-image: url('images/main/svgbotright.svg');
    transition: 1s;
}

.news-item:last-child:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 98%;
    height: 32%;
    background-image: url(images/main/svgtopleft.svg);
    transition: 1s;
}


.news-item:first-child:hover::before {
	top: -50%;
}

.news-item:last-child:hover::before {
	bottom: -50%;
}

.our-inst {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	line-height: 22px;
	color: #1C2A35;
	margin: 0;
	position: relative;
	z-index: 10;
}

.our-inst-button img {
	margin-bottom: 3px;
}

.our-inst:before {
	position: absolute;
	content: '';
	width: 75px;
	height: 3px;
	background: #FEBC48;
	top: 100%;
	margin-top: 10px;
	left: 0;
	transition: .5s;
}

.our-inst:hover::before {
	width: 100%;
}

.out-inst-button {
	display: flex;
	align-items: center;
}

.weinst {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	border-radius: 60px;
	background: #FEBC48;
	padding: 10px 80px;
	transition: .5s;
	text-decoration: none;
}

.weinst img {
	margin-right: 10px;
}


.weinst:hover {
	letter-spacing: 0.1em;
}	

.footer {
	border-top: 10px solid #FEBC48;;
	background: #333333;;
}

.topfooter {
	display: flex;
	justify-content: space-between;
}


.topfooter-logo {
	width: 20%;
}

.topfooter-study {
	width: 22%;
}

.school-link, .study-link {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.topfooter-aboutschool, .topfooter-study {
    border-right: 1px solid rgba(255, 255, 255, 0.4);;
    font-family: 'Montserrat',sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 17px;
}

.topfooter-aboutschool {
	padding-right: 50px
}


.phone {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 38px;
	color: #FFFFFF;
}

.gmail {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 19px;
}

.logomargin {
	margin-bottom: 15px;
}


.copyright {
	border-top: 1px solid rgba(255, 255, 255, 0.4);;
	margin-top: 50px;
}

.school-link, .study-link {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 14px;
}

.school-link a, .study-link a {
	margin-bottom: 15px;
	color: #FFFFFF;
}

.social-link {
	margin-top: 15px;
}

.topfooter {
	margin-top: 30px;
	color: #FFFFFF;
}

.copyright {
	display: flex;
	justify-content: space-between;
}

.botfooter-item {
	color: #FFFFFF;
	margin-top: 15px;
	margin-bottom: 20px;
}

.botfooter-item a {
	color: #FFFFFF;
}

.socialhead {
	font-family: 'Montserrat',sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 17px;
}

.logomargin p {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 55px;
	color: #FFFFFF;
}

footer {
	margin-top: 60px;
}


.item-img-1{border-radius: 112px 20px 79px 1px;}
.item-img-3{border-radius: 20px 20px 100px 20px;}
@keyframes blick{0%{opacity: 0;} 50%{opacity: 1;} 100%{opacity: 0;}}
@keyframes blick-reverse{0%{opacity: 1;} 50%{opacity: 0;} 100%{opacity: 1;}}
@media (min-width: 1200px){.container{max-width: 1216px;}}


